:root {
  --color-dark-grey: #3C3A47;
  --color-camel: #9F7657;
  --color-white: #FFFFFF;
  --background-ivory: #EFF0EA;
  --button-grey: #BDBDBD;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  font-family: "Poppins", sans-serif;
  color: var(--color-dark-grey);
  line-height: 1.55;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid red;
  text-align: center;
}

.logo {
  margin: 8rem;
}

h1 {
  font-size: 3.5625rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
  margin: 2rem 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.125rem;
  padding: 1.5em;
  background-color: var(--button-grey);
  color: var(--color-dark-grey);
}


form input,
form textarea,
form button {
  font-family: inherit;
}
