:root {
  --color-dark-grey: hsl(249, 10%, 25%);
  --color-camel: hsl(26, 29%, 48%);
  --color-white: hsl(0, 0%, 100%);
  --background-ivory: hsl(70, 17%, 93%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  max-width: 1440px;
  font-family: "Poppins", sans-serif;
  color: var(--color-dark-grey)
  line-height: 1.55;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.logo {
  width: 64px;
  height: 64px;
  margin-top: 13.33rem;
}

h1 {
  font-size: 3.17rem;
  font-weight: 700;
  letter-spacing: -3px;
  margin-top: 120px;
  opacity: 0.8;
}

h2 {
  font-size: 1.78rem;
  font-weight: 300;
  letter-spacing: -1px;
  opacity: 0.8;
  margin-top: 1rem;
}

h3 {
  font-size: 2.39rem;
  font-weight: 700;
  letter-spacing: -2px;
  opacity: 0.8;
}

.btn {
  color: var(--color-camel);
  text-decoration: none;
  font-weight: 700;
  border: 1.4px solid var(--color-camel);
  padding: 1.33em 3.56em;
  margin-top: 7.06rem;
  margin-bottom: 13.33rem;
}

.ivory-background {
  background-color: var(--background-ivory)
}

.section-intro {
  text-transform: uppercase;
  opacity: 0.8;
  letter-spacing: 1.6px;
  font-size: 1.02rem;
  font-weight: 300;
  margin-top: 13.39rem;
  margin-bottom: 0.58rem;
}

p {
  text-align: center;
  margin-top: 1.67rem;
}

.gallery {
  display: flex;
  gap: 1rem;
}
