:root {
  --color-dark-grey: #3c3a47;
  --color-camel: #9f7657;
  --color-white: #ffffff;
  --color-ivory: #eff0ea;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark-grey);
  line-height: 1.55;
}

/* section-1 */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
}

.logo {
  margin: 15rem 0 8rem 0;

  @media only screen and (max-width: 400px) {
    margin: 8rem 0 5rem 0;
  }
}

h1 {
  font-size: 3.5625rem;
  font-weight: 700;
  letter-spacing: -2.5px;

  @media only screen and (max-width: 640px) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 275;
  margin: 1rem 0 8rem 0;
  letter-spacing: -1.5px;
  opacity: 0.8;

  @media only screen and (max-width: 640px) {
    font-size: 1.5rem;
  }
}

.discover-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1.5em 4em;
  border: 1px solid var(--color-camel);
  color: var(--color-camel);

  &:hover {
    background-color: var(--color-dark-grey);
    border: 1px solid var(--color-dark-grey);
    color: var(--color-white);
  }

  @media only screen and (max-width: 640px) {
    font-size: 1rem;
  }
}

/* section-2 */

.section-2 {
  margin: 15em 0 0 0;

  @media only screen and (max-width: 400px) {
    margin: 5rem 0 0 0;
  }
}

.ivory-background {
  background-color: var(--color-ivory);
}

.section-intro {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 100;
  padding: 15rem 0 0 0;
  letter-spacing: 2px;
  opacity: 0.8;

  @media only screen and (max-width: 640px) {
    font-size: 0.75rem;
  }

  @media only screen and (max-width: 400px) {
    padding: 5rem 0 0 0;
  }
}

h3 {
  font-size: 2.6875rem;
  font-weight: 700;
  margin: 0.5rem 0 0 0;
  letter-spacing: -2.5px;

  @media only screen and (max-width: 640px) {
    font-size: 1.75rem;
  }
}

#gallery-page .intro {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 2rem 0 0 0;

  @media only screen and (max-width: 640px) {
    font-size: 0.75rem;
  }

  @media only screen and (max-width: 400px) {
    font-size: 0.6rem;
  }
}

/* .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding: 4rem;
} */

.gallery {
  display: flex;
  justify-content: center;
  padding: 4rem;
  gap: 4rem;
  text-align: start;

  @media only screen and (max-width: 640px) {
    flex-direction: column;
  }
}

.gallery img {
  max-width: 100%;
}

.number {
  font-size: 2.6875rem;
  font-weight: 100;
  opacity: 0.5;
  margin: 1rem 0;

  @media only screen and (max-width: 640px) {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.125rem;
  font-weight: 700;

  @media only screen and (max-width: 640px) {
    font-size: 1rem;
  }
}

.description,
.price {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 1.5rem 0;

  @media only screen and (max-width: 640px) {
    font-size: 0.75rem;
  }
}

.outro {
  font-size: 1.125rem;
  font-weight: 400;

  @media only screen and (max-width: 640px) {
    font-size: 0.75rem;
  }
}

.send-message,
.visit-page {
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-camel);

  @media only screen and (max-width: 640px) {
    font-size: 0.75rem;
  }
}

.section-outro {
  padding: 1rem 0 15rem 0;

  @media only screen and (max-width: 640px) {
    padding: 0rem 0 5rem 0;
  }
}

/* section-3 */

.section-3 {
  color: var(--color-white);
}

.grey-background {
  background-color: var(--color-dark-grey);
}

.small {
  width: 40rem;

  @media only screen and (max-width: 640px) {
    width: 20rem;
  }
}

form input,
form textarea,
form button {
  font-family: inherit;
}

label {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  opacity: 0.8;
  display: block;
  text-align: start;
  margin: 0 0 0.5rem 0;
}

input,
textarea {
  border: none;
  background-color: rgb(255, 255, 255, 0.1);
  width: 100%;
  padding: 1.5rem;
  resize: none;
  color: var(--color-white);

  &:focus {
    outline: none;
    background-color: rgb(255, 255, 255, 0.2);
  }
}

form div {
  margin: 2rem 0;
}

.message-btn {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  border: 1px solid var(--color-white);
  background-color: var(--color-dark-grey);
  color: var(--color-white);
  padding: 1.5rem;
  font-size: 1.125rem;
  font-weight: 700;

  &:hover {
    background-color: var(--color-white);
    color: var(--color-dark-grey);
  }
}

.important {
  font-style: italic;
  font-weight: 400;
  opacity: 0.5;
}

/* section-4 */

#store-page h3 {
  font-size: 3.5625rem;
  margin: 1.5rem 0;

  @media only screen and (max-width: 640px) {
    font-size: 2rem;
  }
}

#store-page h2 {
  font-size: 2rem;
  font-weight: 275;
  margin: 1.5rem 0 8rem 0;
  letter-spacing: -1.5px;

  @media only screen and (max-width: 640px) {
    font-size: 1rem;
  }
}

.social-icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

/* footer */

footer {
  text-align: center;
  margin: 6rem 0;
  font-size: 1.125rem;
  font-weight: 400;

  @media only screen and (max-width: 640px) {
    font-size: 0.5rem;
    margin: 2rem 0;
  }
}

footer a {
  font-weight: 700;
  text-decoration: none;
  color: var(--color-camel);
}


